<div class="main-div">
    <div class="div-side div-side-too-small">
    </div>

    <div style="background-color: white; width: 50%; min-width: 50%;">

        <div class="middle-div">
            <span class="main-title">LUPA DEV STUDIO</span>
        
            <p class="title">Notre équipe</p>
            <div class="separator"></div>
            <p class="content">
                Nous sommes une petite équipe de développeurs en Python, intéressés dans le développement mobile, en particulier Android pour l'instant.
            </p>
        
            <p class="title">Notre objectif</p>
            <div class="separator"></div>
            <p class="content">
                Nous voulons créer des petits jeux et applications par nous-mêmes et les partager avec vous. Publier le code de nos projets en open-source est une valeur qui nous tient à cœur pour contribuer à la communauté.
            </p>
            <a mat-raised-button color="accent"
                href="https://github.com/LupaDevStudio" target="_blank"
                class="download-button">
                Visiter notre GitHub
            </a>
        
            <p class="title">Notre travail</p>
            <div class="separator"></div>
            <p class="content">
                Pour développer nos jeux et applications mobiles, nous utilisons la librairie <i>Kivy</i> de Python, qui nous permet de partager notre code sur toutes les plateformes.
            </p>

            <p class="title">Nous contacter</p>
            <div class="separator"></div>
            <p class="content">
                Nous sommes ouverts à tout échange avec vous, si vous souhaitez nous reporter une erreur dans nos applications ou si vous voulez proposer de nouvelles idées.
            </p>
                <p class="content">
                N'hésitez pas à nous contacter à l'adresse suivante :
                lupa.dev.studio@gmail.com
            </p>
        
            <p class="title">Nous soutenir</p>
            <div class="separator"></div>
            <p class="content">
                A COMPLETER AVEC LE GITHUB SPONSORS
            </p>
        </div>
    </div>

    <div class="div-side div-side-too-small">
    </div>

</div>


