<div class="slider-container">
    <div class="slider">

        <div *ngFor="let image of images; let i = index" class="slide"
            [style.transform]="'translateX(' + -currentIndex * 100 + '%)'">
            <img [src]="image" alt="Game Banner">
            <div class="slide-title">
                {{titles[i].toUpperCase()}}</div>
            <div class="slide-text">
                {{texts[i]}}
            </div>
        </div>


    </div>
    <button mat-mini-fab color="accent" (click)="prevSlide()"
        class="prev-button"><mat-icon>chevron_left</mat-icon></button>
    <button mat-mini-fab color="accent" (click)="nextSlide()"
        class="next-button"><mat-icon>chevron_right</mat-icon></button>
</div>