<div>


  <div class="main-div">



    <div class="div-side div-side-too-small" style="opacity: 50%;">
    </div>


    <div *ngIf="application" class="middle-div">
      <span class="main-title">{{application.name}}</span>
      <span class="introduction-sentence">{{application.introductionSentence}}</span>

      <p class="title">Histoire</p>
      <div class="separator"></div>
      <p class="content">{{application.storyDescription}}</p>

      <p class="title">Informations</p>
      <div class="separator"></div>
      <p class="content">{{application.information}}</p>

      <p class="title">Installation</p>
      <div class="separator"></div>
      <p class="content">{{application.installation}}</p>
      <a mat-raised-button color="accent" href="{{application.downloadLink}}" target="_blank" class="download-button">
        Télécharger
      </a>

      <p class="title">Actualités</p>
      <div class="separator"></div>

      <ul class="all-news">
        <li *ngFor="let newsPage of news" style="margin-top: 0 !important;">
          <div *ngIf="newsPage.gameId == application.id" class="div-news" style="margin-top: 20px;">
            <div class="left-bar"></div>

            <a routerLink="/news/{{newsPage.id}}" routerLinkActive="active" ariaCurrentWhenActive="page"
              class="image-link">
              <img src="{{newsPage.vignetteSource}}" alt="image" class="image-vignette">
            </a>

            <div class="news-description">
              <p class="name">{{newsPage.name}}</p>
              <p class="date">{{newsPage.date}}</p>
              <p class="description">{{newsPage.shortDescription}}</p>
            </div>
          </div>
        </li>
      </ul>

    </div>


    <div class="div-side div-side-too-small" style="opacity: 50%;">
    </div>

  </div>
  <img src="{{application.bannerSource}}" alt="image" class="background-image">


</div>