<div class="main-div">

    <div class="div-side div-side-too-small ">
    </div>


    <div class="middle-div">

        <!-- Search bar for tags -->
        <form class="search-bar-div">
            <input placeholder='{{"Search"|translate}}' id="search-bar" class="search-bar" [formControl]="control"
                [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                    {{tag|translate}}
                </mat-option>
            </mat-autocomplete>
            <button mat-mini-fab color="primary" class="search-button" (click)="launchFilter('')">
                <mat-icon>search</mat-icon>
            </button>
        </form>

        <div class="all-news">
            <div *ngFor="let newsPage of filteredNewsContent" class="div-news">

                <a routerLink="/news/{{newsPage.id}}" routerLinkActive="active" ariaCurrentWhenActive="page"
                    class="image-link">
                    <img src="{{newsPage.vignetteSource}}" alt="image" class="image-vignette">
                </a>

                <div class="news-description">
                    <p class="name">{{newsPage.name}}</p>
                    <p class="date">{{newsPage.date}}</p>
                    <div class="tags">
                        <button *ngFor="let tag of newsPage.tags" mat-raised-button class="tag-button" value="{{tag}}"
                            (click)="launchFilter(tag)">
                            {{tag|translate}}
                        </button>
                    </div>
                    <p class="description">{{newsPage.shortDescription}}</p>
                </div>

            </div>
        </div>
    </div>

    <div class="div-side div-side-too-small ">
    </div>

    <img src="/assets/banner.png" alt="image" class="background-image">

</div>