<div class="main-div">
    <div class="div-side div-side-too-small">
    </div>


    <div class="middle-div">
        <p class="main-title">LupaDevStudio</p>

        <p class="title">{{'OurTeam'|translate}}</p>
        <div class="separator"></div>
        <p class="content">
            {{'TeamContent'|translate}}
        </p>

        <p class="title">{{'OurGoal'|translate}}</p>
        <div class="separator"></div>
        <p class="content">
            {{'GoalContent'|translate}}
        </p>
        <a mat-raised-button color="accent" href="https://github.com/LupaDevStudio" target="_blank"
            class="download-button">
            {{'GithubButton'|translate}}
        </a>

        <p class="title">{{'OurWork'|translate}}</p>
        <div class="separator"></div>
        <p class="content">
            {{'WorkContent'|translate}}
        </p>

        <p class="title">{{'ContactUs'|translate}}</p>
        <div class="separator"></div>
        <p class="content">
            {{'ContactContent'|translate}}
        </p>
        <p class="content">
            {{'ContactLink'|translate}}
            <a href="mailto:lupa.dev.studio@gmail.com">lupa.dev.studio@gmail.com</a>
        </p>

        <p class="title">{{'SupportUs'|translate}}</p>
        <div class="separator"></div>
        <p class="content">
            {{'SupportLink'|translate}}
            <a href="https://github.com/sponsors/LupaDevStudio">https://github.com/sponsors/LupaDevStudio</a>
        </p>
    </div>

    <div class="div-side div-side-too-small">
    </div>

</div>