<div class="main-div">
    <div class="div-side div-side-too-small">
    </div>


    <div class="middle-div">
        <p class="main-title">LupaDevStudio</p>

        <p class="title">{{'OurTeam'|translate}}</p>
        <div class="separator"></div>
        <p class="content">
            {{'TeamContent'|translate}}
        </p>

        <p class="title">{{'OurPhilosophy'|translate}}</p>
        <div class="separator"></div>
        <p class="content" *ngFor="let paragraph of 'PhilosophyContent'|translate">
            {{paragraph}}
        </p>
        <a mat-raised-button color="accent" href="https://github.com/LupaDevStudio" target="_blank"
            class="download-button">
            {{'GithubButton'|translate}}
        </a>

        <p class="title">{{'OurApps'|translate}}</p>
        <div class="separator"></div>

    </div>

    <div class="div-side div-side-too-small">
    </div>

</div>