.footer {
    width: 100%;
    height: auto;
}

.box-over {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box-layout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    width: 100%;
}

.box-column {
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}

.logo-image {
    height: 2em;
    vertical-align: middle;
}

a {
    color: white;
    text-decoration: none;
}

.legal {
    text-align: center;
    margin-bottom: 0.5em;
    text-decoration: underline;
    font-size: 0.85em;
}