<div>
  <div class="main-div">
    <div class="div-side div-side-too-small" style="opacity: 50%;">
    </div>
    <div class="middle-div">
      <span class="main-title">{{JsonAppContent.name}}</span>
      <span class="introduction-sentence">{{JsonAppContent.introductionSentence}}</span>

      <p class="title">{{"Story"|translate}}</p>
      <div class="separator"></div>
      <p *ngFor="let paragraph of JsonAppContent.storyDescription" class="content">{{paragraph}}</p>

      <p class="title">{{"Info"|translate}}</p>
      <div class="separator"></div>
      <ul class="content">
        <li class="language-li">
          {{"Languages"|translate}}:
          <ul>
            <li *ngFor="let language of JsonAppContent.languages" class="sub-li">
              {{language}}
            </li>
          </ul>
        </li>
      </ul>

      <p class="title">{{"Installation"|translate}}</p>
      <div class="separator"></div>
      <p class="content">{{JsonAppContent.installation}}</p>
      <div class="download-box">
        <div *ngIf="JsonAppContent.GooglePlayLink">
          <a href={{JsonAppContent.GooglePlayLink}}>
            <img src={{getGooglePlayImage()}} class="link-item">
          </a>
        </div>
        <div *ngIf="JsonAppContent.ItchIoImage">
          <a href={{JsonAppContent.ItchIoLink}}>{{JsonAppContent.title}}
            <img src={{JsonAppContent.ItchIoImage}} class="link-item">
          </a>
        </div>

      </div>


      <p class="title">{{"News"|translate}}</p>
      <div class="separator"></div>

      <ul class="all-news">
        <li *ngFor="let newsPage of news" style="margin-top: 0 !important;">
          <div *ngIf="newsPage.gameId == JsonAppContent.id" class="div-news" style="margin-top: 20px;">
            <div class="left-bar"></div>

            <a routerLink="/news/{{newsPage.id}}" routerLinkActive="active" ariaCurrentWhenActive="page"
              class="image-link">
              <img src="{{newsPage.vignetteSource}}" alt="image" class="image-vignette">
            </a>

            <div class="news-description">
              <p class="name">{{newsPage.name}}</p>
              <p class="date">{{newsPage.date}}</p>
              <p class="description">{{newsPage.shortDescription}}</p>
            </div>
          </div>
        </li>
      </ul>

    </div>


    <div class="div-side div-side-too-small" style="opacity: 50%;">
    </div>

  </div>
  <img src="{{JsonAppContent.bannerSource}}" alt="image" class="background-image">


</div>