.introduction-sentence {
    font-style: italic;
    align-self: center;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.background-image {
    position: absolute;
    // top: 10%;
    width: 100%;
    top: 0%;
    // height: calc(100% - var(--title-bar-height));
    height: 100%;
    z-index: -1;
}

.side-div {
    background-color: transparent;
}

.body {
    background-color: transparent;
}

.content {
    text-align: justify;
}

ul {
    margin-top: 0;
    margin-left: 0;
    padding-left: 1em;
    line-height: 3em;
}

.language-li {
    list-style: none;
    font-size: medium;
    font-weight: bold;
}

.language-li:before {
    content: '';
    display: inline-block;
    height: 0.95em;
    width: 1.3em;
    background-size: 1.3em;
    background-image: url("/assets/icons/language-solid.svg");
    background-repeat: no-repeat;
    margin-right: 0.3em;
}

.platforms-li {
    list-style: none;
    font-size: medium;
    font-weight: bold;
}

.platforms-li:before {
    content: '';
    display: inline-block;
    height: 0.95em;
    width: 1.3em;
    background-size: 1.3em;
    background-image: url("/assets/icons/computer-solid.svg");
    background-repeat: no-repeat;
    margin-right: 0.3em;
}

.age-li {
    list-style: none;
    font-size: medium;
    font-weight: bold;
}

.age-li:before {
    content: '';
    display: inline-block;
    height: 0.95em;
    width: 1.3em;
    background-size: 1.3em;
    background-image: url("/assets/icons/child-solid.svg");
    background-repeat: no-repeat;
    margin-right: 0.3em;
}

.pegi-image {
    height: 2em;
    margin-left: 1em;
    align-self: center;
}

.age-container {
    display: flex;
    flex-direction: row;
}

.sub-li {
    font-size: small;
    font-weight: normal;
    margin-left: 1.5em;
    list-style: initial;
    line-height: normal;

}

.link-item {
    width: 15em;
    padding-left: 1em;
    padding-right: 1em;
}

.download-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1.5em;
}