<div>
  <div class="main-div">
    <div class="div-side div-side-too-small" style="opacity: 50%;">
    </div>
    <div class="middle-div">
      <span class="main-title">{{AppContent.name}}</span>
      <span class="introduction-sentence">{{AppContent.introductionSentence}}</span>

      <p class="title">{{"Story"|translate}}</p>
      <div class="separator"></div>
      <p *ngFor="let paragraph of AppContent.storyDescription" class="content">{{paragraph}}</p>

      <p class="title">{{"Info"|translate}}</p>
      <div class="separator"></div>
      <ul class="content">



        <li class="platforms-li">
          {{"Platforms"|translate}}:
          <ul>
            <li *ngFor="let platform of AppContent.platforms" class="sub-li">
              {{platform}}
            </li>
          </ul>
        </li>

        <li class="language-li">
          {{"Languages"|translate}}:
          <ul>
            <li *ngFor="let language of AppContent.languages" class="sub-li">
              {{language}}
            </li>
          </ul>
        </li>

        <div *ngIf="AppContent.pegi_image" class="age-container">
          <li class="age-li">
            {{"Age"|translate}}:
          </li>
          <img src={{AppContent.pegi_image}} class="pegi-image">

        </div>


      </ul>

      <p class="title">{{"Installation"|translate}}</p>
      <div class="separator"></div>
      <p class="content">{{AppContent.installation}}</p>
      <div class="download-box">
        <div *ngIf="AppContent.GooglePlayLink">
          <a href={{AppContent.GooglePlayLink}}>
            <img src={{getGooglePlayImage()}} class="link-item">
          </a>
        </div>
        <div *ngIf="AppContent.ItchIoImage">
          <a href={{AppContent.ItchIoLink}}>{{AppContent.title}}
            <img src={{AppContent.ItchIoImage}} class="link-item">
          </a>
        </div>

      </div>


      <p class="title">{{"News"|translate}}</p>
      <div class="separator"></div>

      <ul class="all-news">
        <li *ngFor="let newsPage of NewsContent" style="margin-top: 0 !important;">
          <div *ngIf="newsPage.gameId == AppContent.id" class="div-news-loc" style="margin-top: 20px;">


            <a routerLink="/news/{{newsPage.id}}" routerLinkActive="active" ariaCurrentWhenActive="page"
              class="image-link">

              <img src="{{newsPage.vignetteSource}}" alt="image" class="image-vignette">
            </a>

            <div class="news-description">
              <p class="name">{{newsPage.name}}</p>
              <p class="date">{{newsPage.date}}</p>
              <p class="description">{{newsPage.shortDescription}}</p>
            </div>
          </div>
        </li>
      </ul>

    </div>


    <div class="div-side div-side-too-small" style="opacity: 50%;">
    </div>

  </div>
  <img src="{{AppContent.bannerSource}}" alt="image" class="background-image">


</div>