<div class="main-div">

    <!-- Scrollbar of images -->
    <!-- <img src="{{applications[mainApplicationNumber].bannerSource}}" alt="image">


        <div class="game-information">
            <div class="title-game">
                {{applications[mainApplicationNumber].name.toUpperCase()}}
            </div>
            <div class="presentation-game">
                {{applications[mainApplicationNumber].introductionSentence}}
            </div>
            <a routerLink="/applications/{{applications[mainApplicationNumber].id}}" routerLinkActive="active"
                ariaCurrentWhenActive="page">
                <button mat-raised-button color="accent" id="discover-button">
                    Découvrir
                </button>
            </a>
        </div> -->

    <app-image-slider style="z-index: 2;" [images]="applicationsBannerList"></app-image-slider>

    <!-- List of games -->
    <div class="game-list-div">

        <div class="div-side">
        </div>

        <div class="middle-div">
            <ul class="all-games">
                <li *ngFor="let application of applications" class="div-game">
                    <a routerLink="/applications/{{application.id}}" routerLinkActive="active"
                        ariaCurrentWhenActive="page" class="game-image-link">

                        <img src="{{application.vignetteSource}}" alt="image" class="game-image-vignette">
                    </a>

                    <div>
                        <p class="game-name">{{application.name}}</p>
                        <p class="game-date">{{application.date}}</p>
                        <p class="game-description">{{application.shortDescription}}</p>
                    </div>

                </li>
            </ul>
        </div>

        <div class="div-side">
        </div>

    </div>


</div>