$lupa-pink: rgba(229, 19, 100);


.div-logo-title {
    height: 100%;
    width: 30%;
    min-width: 10em;
    margin-right: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    text-decoration: none;
    color: inherit;

    @media (min-width:800px) {
        height: 80%;
    }

    @media (max-width:800px) {
        height: 60%;

    }
}

.div-buttons {
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-buttons-layout {
    @media (min-width:800px) {
        visibility: visible;
        display: flex;
    }

    @media (max-width:800px) {
        visibility: hidden;
        display: none;

    }
}

.button {
    margin-right: 15px;
    width: 8em;
}

.list-button {
    height: 37px;
    vertical-align: middle;
    margin-right: 0.7em;

    @media (min-width:800px) {
        visibility: hidden;
        display: none;
    }

    @media (max-width:800px) {
        visibility: visible;
        display: flex;

    }
}

.logo-image {
    border-radius: 50%;
    height: 100%;
    margin-left: 3%;
    animation: rotatelogo 4s linear infinite;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.602);
}

@keyframes rotatelogo {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

.round-button {
    margin-right: 15px;
    margin-left: 15px;
    height: 35px;
    width: 35px;
    overflow: hidden;
}

.flag-image {
    border-radius: 50%;
    height: 37px;
}

.language-name {
    width: 10px;
    margin-right: 1em;
    font-size: smaller;
}

.toolbar {
    height: var(--title-bar-height);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.602);
}