<mat-toolbar color="primary" class="toolbar">


    <div class="div-logo-title">
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="div-logo-title"
            style="cursor: pointer; text-decoration: none; color:inherit; width: fit-content">
            <img src="/assets/lupa_logo.png" alt="image" class="logo-image">
        </a>
        <span style="margin-right: 30px;">LupaDevStudio</span>
    </div>

    <div class="div-buttons">

        <!-- Main menus -->

        <button mat-raised-button routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" color="accent"
            class="button">
            Accueil
        </button>

        <button mat-raised-button routerLink="/applications" routerLinkActive="active" ariaCurrentWhenActive="page"
            color="accent" class="button">
            Applications
        </button>

        <button mat-raised-button routerLink="/news" routerLinkActive="active" ariaCurrentWhenActive="page"
            color="accent" class="button">
            Actualités
        </button>

        <!-- Language -->

        <button mat-fab [matMenuTriggerFor]="menu" color="primary" class="round-button">
            <img src={{flagName}} alt="image" class="flag-image">
        </button>
        <mat-menu #menu="matMenu" xPosition="after">
            <button mat-menu-item (click)="changeLanguage('english')">English</button>
            <button mat-menu-item (click)="changeLanguage('french')">Français</button>
        </mat-menu>
        <span class="language-name">{{languageName}}</span>

    </div>
</mat-toolbar>